<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

<body>

<h1><span th:text="'Registeration is successful'" th:id = 'successMsg'></span></h1>

<h2><span th:text="'Hello ' + ${uname} + '!!!!' + 'Please login here to enjoy reading new articles.'"></span> <a href='/welcome'>Go to Login</a>
</h2>

</body>
</html>